.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease;
}

.light {
  background-color: #f8f9fa;
  color: #333;
}

.dark {
  background-color: #1e1e1e;
  color: white;
}